<body>
    <div class="header">
      <div class="container">
					<a href ="#">CABEZAS</a>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <h1>CONTAR</h1>
        <button type="button" class="btn btn-default"> + </button>
      </div>
    </div>
    <div class="footer">
      <div class="container">
				<ul>
          <li>Contact</li>
          <li>Help Center</li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </body>