<body>
    <div class="header">
      <div class="container">
					<a href ="#">CABEZAS</a>
      </div>
    </div>
    <div class="main">
      <div class="container">
        <h1>CONTAR</h1>
        <button type="button" id="target" class="btn btn-default"> + </button>
        <div id="output">0</div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div > <%= link_to "more", "#", id: "more_toggle"%></div> 
				<ul>
          <li>Contact</li>
          <li>Help Center</li>
          <li>About</li>
        </ul>
      </div>
    </div>
  </body>